.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.counter .result {
  padding: 10px;
  font-size: 50px;
}

.counter .controlls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter .controlls h3 {
  font-size: 18px;
  letter-spacing: 1px;
}

.counter .controlls .btn {
  padding: 8px 8px 6px 8px;
}

.counter .reset {
  padding: 8px 18px;
}
